@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Outfit:wght@100..900&display=swap');

html {
    color-scheme: light dark;
    scroll-behavior: smooth;
    cursor: none!important;
}

:root {
    /* --bg-color: light-dark(hsl(284, 100%, 60%),hsl(284, 100%, 10%)); */
    --bg-color: light-dark(hsl(0,0%,80%),hsl(0,0%,5%));
    --text-primary: light-dark(hsl(0 0% 10%), hsl(0 0% 92%));
    --text-secondary: light-dark(hsl(0 0% 35%), hsl(0 0% 80%));
    --text-accent: light-dark(hsl(284 90% 30%), hsl(284 100% 92%));
    --text-glow: light-dark(
        0 0 0 / 20%,
        0 0 0 / 55%
    );
    --fs-body: clamp(0.95rem, 0.5vw + 0.8rem, 1.1rem);
    --fs-h1: clamp(5.5rem, 5vw + 1rem, 4rem);
    --fs-h2: clamp(1.8rem, 2vw + 1rem, 2.5rem);
    --fs-h3: clamp(1.3rem, 1vw + 1rem, 1.8rem);
    --lh-body: 1.7;
    --lh-heading: 1.2;
    --main-text: 'Outfit', Sans-Serif;
    --title-text: 'Instrument Serif', serif;
}

/* TYPOGRAPHY */

body {
    font-size: var(--fs-body)!important;
    line-height: var(--lh-body)!important;
    text-shadow: 0 0 6px rgb(var(--text-glow))!important;
    font-family: var(--main-text)!important;
    --step: 30px;
    position: relative;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color)!important;
    overflow-x: hidden!important;
}

a, button, .interactive, input[type="submit"],input[type="image"] {
    cursor: none;
}

span.underline {
    display: inline-block;
    position: relative;
}

span.underline::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--text-accent);
  transform-origin: bottom right;
  transition: transform 0.40s ease-out;
}

span.underline:hover::after, span.underline:focus::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.img-invert {
    transform: scale(-1, 1);
    filter: drop-shadow(0px 0px 100px hsl(var(--text-glow)));
}

p, a, li {
    color: var(--text-primary)!important;
    text-shadow: 0 0 4px rgb(var(--text-glow))!important;
}

.nav-link {
    color: var(--text-primary) !important;
}
.nav-link:hover {
    color: var(--text-accent) !important;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--text-accent)!important;
    text-shadow: 0 0 8px rgb(var(--text-glow))!important;
    /* font-weight: 700; */
    font-family: var(--title-text)!important;
    line-height: var(--lh-heading)!important;
}

h1 { font-size: var(--fs-h1)!important; }
h2 { font-size: var(--fs-h2)!important; }
h3 { font-size: var(--fs-h3)!important; }

/* MAIN CODE */

.mainTitle {
  position: relative;
  /* font-weight: bolder; */
  text-align: center;
  margin: 10px;
  font-size: 2em;
  background: linear-gradient(45deg, hsl(284, 10%, 10%), hsl(284, 100%, 10%));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

.mainTitle::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-shadow: 2px 2px 2px var(--text-primary);
  z-index: -1;
}

.subTitle {
    text-align: center;
}

.glassmorph {
    backdrop-filter: blur(5px);
    background: hsla(0, 0%, 0%, 0.3);
    border: thin solid hsla(0,0%,60%, 0.4);
}

.nav {
    font-size: 1.5rem!important;
    border-radius: 0px 0px 10px 10px;
    z-index: 5;
}

@media screen and (min-device-width: 576px) {
    .nav {
        width: fit-content;
        margin: 10px auto;
        border-radius: 100px!important;
        font-size: 0.9rem!important;
        min-height: auto;
    }
    /* .backdropShape {
        animation: 3s up-n-down infinite;
    } */
}

@media only screen and (max-width: 700px) {
  body .custom-cursor {
    display: none;
  }
}


.container-fluid {
    min-height: auto;
    z-index: 5;
    color: var(--text-primary);
}

.container-fluid :not(img) {
    mix-blend-mode: difference;
}

.glassy-bg {
    mix-blend-mode: color-dodge;
	background: repeating-linear-gradient(
		90deg,
		hsla(0, 0%, 100%, 0.1),
		hsla(0, 0%, 0%, 0.38),
		hsla(0, 0%, 100%, 0.27) var(--step)
	); 
	backdrop-filter: blur(20px);
	filter: blur(0.5px);
    position: fixed;
    z-index: 0;
    min-height: 125dvh!important;
    min-width: 100dvw;
}

.backdropShape {
	position: fixed;
	width: 300px;
	height: 300px;
	border-radius: 100px;
	rotate: 15deg;
	filter: blur(100px);
	mix-blend-mode: plus-lighter;
	background: linear-gradient(
		180deg,
		oklch(60% 54% 290deg) 0%,
		oklch(92% 10% 296deg) 48%,
		oklch(44% 57% 285deg) 68%,
		oklch(23% 37% 268deg) 100%
	);
	z-index: -1;
	box-shadow: 0px 0px 120px -10px oklch(44% 57% 285deg);
	translate: -20% 20%;
    animation: 3s up-n-down infinite;
    margin: auto;
}

@keyframes up-n-down {
	0% {
		translate: -20% 20%;
	}
	50% {
		translate: 20% -20%;
	}
	100% {
		translate: -20% 20%;
	}
}

.custom-cursor {
  position: fixed;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: black;
  filter: invert(100%)!important;
  pointer-events: none;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  z-index: 99999;
}

.custom-cursor.hover {
  transform: translate(-50%, -50%) scale(3);
}